# Get positive tweets from sent140 dataset

In [1]:
import os
import pandas as pd
os.chdir(r'D:\Project\Twitter_depression_detector\data')

In [2]:
df=pd.read_csv("sentiment140.csv",names=['target','ids','date','flag','user','renderedContent'])

In [3]:
df.columns

Index(['target', 'ids', 'date', 'flag', 'user', 'renderedContent'], dtype='object')

In [4]:
df=df[df.target==4]
print(len(df))

800000

In [5]:
df=df.sample(n=95842,random_state=1)

In [6]:
df

,target,ids,date,flag,user,renderedContent
1470935,4,2065120693,Sun Jun 07 07:56:20 PDT 2009,NO_QUERY,FranQuintanilla,@miaakoch good luck in the concert
1449589,4,2062854559,Sun Jun 07 00:31:28 PDT 2009,NO_QUERY,superxleyley,will play JL. Be right back.
802028,4,1468164662,Tue Apr 07 00:04:05 PDT 2009,NO_QUERY,muserine,@chr15t14n thanks.
1469856,4,2064955151,Sun Jun 07 07:33:57 PDT 2009,NO_QUERY,onemanrock,@bekasaur thank you so much!!! nice to meet you!
1258897,4,1998007153,Mon Jun 01 17:50:10 PDT 2009,NO_QUERY,MammaSteph,@RickGershman Totally relate - my mom's a lone...
...,...,...,...,...,...,...
1382352,4,2052457103,Sat Jun 06 00:47:39 PDT 2009,NO_QUERY,laurdiamond,"@zorawebs hellsyeah, but I have to study"
833947,4,1557859447,Sun Apr 19 06:19:21 PDT 2009,NO_QUERY,megaaanftw,"@lakeeffectskid sounds good, wish i could too..."
952274,4,1824411301,Sun May 17 01:15:54 PDT 2009,NO_QUERY,michellembussey,@nhoustonreed happy birthday
1335053,4,2016894787,Wed Jun 03 07:31:55 PDT 2009,NO_QUERY,LenchenFOE,"@lilaleila Hehe, thanks sweetheart!"
1457185,4,2063563182,Sun Jun 07 03:10:03 PDT 2009,NO_QUERY,ShenArt,"@MyTaste Hehe, don't worry there will be many ..."

In [7]:
df

,target,ids,date,flag,user,renderedContent
1470935,4,2065120693,Sun Jun 07 07:56:20 PDT 2009,NO_QUERY,FranQuintanilla,@miaakoch good luck in the concert
1449589,4,2062854559,Sun Jun 07 00:31:28 PDT 2009,NO_QUERY,superxleyley,will play JL. Be right back.
802028,4,1468164662,Tue Apr 07 00:04:05 PDT 2009,NO_QUERY,muserine,@chr15t14n thanks.
1469856,4,2064955151,Sun Jun 07 07:33:57 PDT 2009,NO_QUERY,onemanrock,@bekasaur thank you so much!!! nice to meet you!
1258897,4,1998007153,Mon Jun 01 17:50:10 PDT 2009,NO_QUERY,MammaSteph,@RickGershman Totally relate - my mom's a lone...
...,...,...,...,...,...,...
1382352,4,2052457103,Sat Jun 06 00:47:39 PDT 2009,NO_QUERY,laurdiamond,"@zorawebs hellsyeah, but I have to study"
833947,4,1557859447,Sun Apr 19 06:19:21 PDT 2009,NO_QUERY,megaaanftw,"@lakeeffectskid sounds good, wish i could too..."
952274,4,1824411301,Sun May 17 01:15:54 PDT 2009,NO_QUERY,michellembussey,@nhoustonreed happy birthday
1335053,4,2016894787,Wed Jun 03 07:31:55 PDT 2009,NO_QUERY,LenchenFOE,"@lilaleila Hehe, thanks sweetheart!"
1457185,4,2063563182,Sun Jun 07 03:10:03 PDT 2009,NO_QUERY,ShenArt,"@MyTaste Hehe, don't worry there will be many ..."

In [8]:
df['mentioned_users'] = df.renderedContent.str.findall(r'(?<![@\w])@(\w{1,25})').apply(','.join)
df['mentioned_users']=[string.split(",") if len(string)!=0 else [] for string in df['mentioned_users']]
df

,target,ids,date,flag,user,renderedContent,mentioned_users
1470935,4,2065120693,Sun Jun 07 07:56:20 PDT 2009,NO_QUERY,FranQuintanilla,@miaakoch good luck in the concert,[miaakoch]
1449589,4,2062854559,Sun Jun 07 00:31:28 PDT 2009,NO_QUERY,superxleyley,will play JL. Be right back.,[]
802028,4,1468164662,Tue Apr 07 00:04:05 PDT 2009,NO_QUERY,muserine,@chr15t14n thanks.,[chr15t14n]
1469856,4,2064955151,Sun Jun 07 07:33:57 PDT 2009,NO_QUERY,onemanrock,@bekasaur thank you so much!!! nice to meet you!,[bekasaur]
1258897,4,1998007153,Mon Jun 01 17:50:10 PDT 2009,NO_QUERY,MammaSteph,@RickGershman Totally relate - my mom's a lone...,[RickGershman]
...,...,...,...,...,...,...,...
1382352,4,2052457103,Sat Jun 06 00:47:39 PDT 2009,NO_QUERY,laurdiamond,"@zorawebs hellsyeah, but I have to study",[zorawebs]
833947,4,1557859447,Sun Apr 19 06:19:21 PDT 2009,NO_QUERY,megaaanftw,"@lakeeffectskid sounds good, wish i could too...",[lakeeffectskid]
952274,4,1824411301,Sun May 17 01:15:54 PDT 2009,NO_QUERY,michellembussey,@nhoustonreed happy birthday,[nhoustonreed]
1335053,4,2016894787,Wed Jun 03 07:31:55 PDT 2009,NO_QUERY,LenchenFOE,"@lilaleila Hehe, thanks sweetheart!",[lilaleila]
1457185,4,2063563182,Sun Jun 07 03:10:03 PDT 2009,NO_QUERY,ShenArt,"@MyTaste Hehe, don't worry there will be many ...",[MyTaste]

In [9]:
len(df.iloc[3][-2])

49

In [10]:
len(df.iloc[1][-2])

29

In [11]:
df['mentionedUserCount']=[len(mentioned_user) for mentioned_user in df['mentioned_users']]

In [12]:
df

,target,ids,date,flag,user,renderedContent,mentioned_users,mentionedUserCount
1470935,4,2065120693,Sun Jun 07 07:56:20 PDT 2009,NO_QUERY,FranQuintanilla,@miaakoch good luck in the concert,[miaakoch],1
1449589,4,2062854559,Sun Jun 07 00:31:28 PDT 2009,NO_QUERY,superxleyley,will play JL. Be right back.,[],0
802028,4,1468164662,Tue Apr 07 00:04:05 PDT 2009,NO_QUERY,muserine,@chr15t14n thanks.,[chr15t14n],1
1469856,4,2064955151,Sun Jun 07 07:33:57 PDT 2009,NO_QUERY,onemanrock,@bekasaur thank you so much!!! nice to meet you!,[bekasaur],1
1258897,4,1998007153,Mon Jun 01 17:50:10 PDT 2009,NO_QUERY,MammaSteph,@RickGershman Totally relate - my mom's a lone...,[RickGershman],1
...,...,...,...,...,...,...,...,...
1382352,4,2052457103,Sat Jun 06 00:47:39 PDT 2009,NO_QUERY,laurdiamond,"@zorawebs hellsyeah, but I have to study",[zorawebs],1
833947,4,1557859447,Sun Apr 19 06:19:21 PDT 2009,NO_QUERY,megaaanftw,"@lakeeffectskid sounds good, wish i could too...",[lakeeffectskid],1
952274,4,1824411301,Sun May 17 01:15:54 PDT 2009,NO_QUERY,michellembussey,@nhoustonreed happy birthday,[nhoustonreed],1
1335053,4,2016894787,Wed Jun 03 07:31:55 PDT 2009,NO_QUERY,LenchenFOE,"@lilaleila Hehe, thanks sweetheart!",[lilaleila],1
1457185,4,2063563182,Sun Jun 07 03:10:03 PDT 2009,NO_QUERY,ShenArt,"@MyTaste Hehe, don't worry there will be many ...",[MyTaste],1

In [14]:
df=df[['renderedContent','mentionedUserCount']]
df.to_csv("positive_tweets.csv",index=False)